body{
    background-image: url('../img/feet_bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
    background-attachment: fixed;
}

.role_choice{
    height:60px;
}

.safe-room h1{
    color: rgb(217,217,217);
}

.width90percent {
    width: 90%;
}

.m-bottom24 {
    margin-bottom: 24px;
}

.m-bottom16 {
    margin-bottom: 16px;
}

.saferoom_detail {
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    color:#b8b8b8;
    max-width:700px;
    margin: 10px auto 0px auto;
}

@font-face{
    font-family: 'chancery';
    font-style: normal;
    src: url(fonts/Apple_Chancery.ttf);
}

.secretroom{
    font-family: "chancery";
}

.saferoom_alert{
    border-radius: 6px;
    background-color: #b8b8b8;
    opacity:0.8;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    padding:10px;
    color:black;
    max-width:600px;
    margin: 45px auto 0px auto;
}

.saferoom_message{
    background-color: #F78914;
    border-radius: 8px;
    opacity:0.8;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    padding:10px;
    color:black;
    max-width:600px;
    margin: 45px auto 0px auto;
}

.message_title {
    font-size: 30px;
    line-height: 45px;
}

#wufoo-q7x2w5{
    border-radius: 8px;
    max-width: 600px;
    background-color: #b8b8b8;
    opacity:0.8;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    margin: 45px auto 0px auto;
    padding:10px;
}