@bgColor: white;
@borderColor: rgb(208, 213, 203);
@textColor: lighten(black, 20%);
@darkColor: lighten(black, 30%); //rgba(51,51,51,1)
@middleDarkColor: rgb(117, 121, 111);
@middleLightColor: lighten(black, 50%);
@lightColor: lighten(black, 70%);
@veryLightColor: lighten(black, 90%);

@bgColor2: rgba(246,248,242,1); // = #f6f8f2 #eef2ea
@bgColor3: rgb(238, 242, 234);
@bgColor4: rgb(248,248,248);
@darkBgColor2: darken(@bgColor2,60%);
@contrastColor: yellow;
@focusColor: rgba(0,179,15,1);//#00B30F
@focusColor2:rgba(0, 136, 204,1);
@lineColor:rgb(190, 190, 190);
@postitColor1 : rgba(255,255,200,1);
@postitColor2 : rgba(255,255,250,1);
@empty: "";

@standardFont:'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
@handwrittingFont : "handwritting_2";
@handwrittingFontBold : "handwritting_2_bold";
@typewritterFont: "Helvetica Neue";

// accessing JavaScript to get the current height of the body
@clientHeight: `document.body.clientHeight`;



.app_column{
    max-width: 1024px;
    margin: 0px auto;
}

.stripe_title{
    white-space: nowrap;
    h3 {
        margin-bottom: 30px;
    }
}

.top_banners {
	position:relative;
	//top: 67px;
	display:block;
}

.eb_container {
	position: relative;
    margin-top: 16px;
	//top: 60px;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}


.focus_1{
	color: @focusColor;
}

.focus_2{
    color: @focusColor2;
}

.rotate0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.rotate-1 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
.rotate1 {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
.rotate-2 {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}
.rotate2 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
.rotate-3 {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
.rotate3 {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

.rotated_container{
	text-align:center;
}

.postit {
    font-family: @handwrittingFont;
    font-size: 30px;
    line-height: 30px;
    color: rgba(60,60,60,1);
    text-align: center;
    padding-top: 0px;
    position: relative;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 2px 7px -2px;

    border-top: 15px solid @postitColor1 !important;
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-bottom-right-radius: 60px 5px;
    -o-border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: @postitColor1; /* Old browsers */
    background: -moz-linear-gradient(135deg, @postitColor1 77%, @postitColor2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,@postitColor1), color-stop(100%,@postitColor2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(135deg, @postitColor1 77%,@postitColor2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(135deg, @postitColor1 77%,@postitColor2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(135deg, @postitColor1 77%,@postitColor2 100%); /* IE10+ */
    background: linear-gradient(135deg, @postitColor1 77%,@postitColor2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}
.postit:after {
  z-index:-1;
    content: "";
    position: absolute;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -o-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.width90percent {
  width: 90%;
}

.m-bottom24 {
  margin-bottom: 24px;
}

.m-bottom16 {
  margin-bottom: 16px;
}