@bgColor: white;
@borderColor: rgb(208, 213, 203);
@textColor: lighten(black, 20%);
@darkColor: lighten(black, 30%); //rgba(51,51,51,1)
@middleDarkColor: rgb(117, 121, 111);
@middleLightColor: lighten(black, 50%);
@lightColor: lighten(black, 70%);
@veryLightColor: lighten(black, 90%);

@bgColor2: rgba(246,248,242,1); // = #f6f8f2 #eef2ea
@bgColor3: rgb(238, 242, 234);
@bgColor4: rgb(248,248,248);
@darkBgColor2: darken(@bgColor2,60%);
@contrastColor: yellow;
@focusColor: rgba(0,179,15,1);//#00B30F
@focusColor2:rgba(0, 136, 204,1);
@lineColor:rgb(190, 190, 190);
@postitColor1 : rgba(255,255,200,1);
@postitColor2 : rgba(255,255,250,1);
@empty: "";

@standardFont:'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
@handwrittingFont : "handwritting_2";
@handwrittingFontBold : "handwritting_2_bold";
@typewritterFont: "Helvetica Neue";

// accessing JavaScript to get the current height of the body
@clientHeight: `document.body.clientHeight`;

.header_logo{
  margin:30px auto 10px auto;

}

body{
    background-image: url('../img/feet_bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
    background-attachment: fixed;
}

.role_choice{
    height:60px;
}

.safe-room h1{
    color: rgb(217,217,217);
}

.width90percent {
  width: 90%;
}

.m-bottom24 {
  margin-bottom: 24px;
}

.m-bottom16 {
  margin-bottom: 16px;
}

////////

.saferoom_detail {
	font-family: Arial;
	font-size: 18px;
	line-height: 30px;
	color:#b8b8b8;
	max-width:700px;
	margin: 10px auto 0px auto;
}

@font-face{
	font-family: 'chancery';
	font-style: normal;
 	src: url(fonts/Apple_Chancery.ttf);
}

.secretroom{
	font-family: "chancery";
}

.saferoom_alert{
	border-radius: 6px;
	background-color: #b8b8b8;
	opacity:0.8;
	font-family: Arial;
	font-size: 20px;
	line-height: 30px;
	padding:10px;
	color:black;
	max-width:600px;
	margin: 45px auto 0px auto;
}

.saferoom_message{
	background-color: #F78914;
	border-radius: 8px;
	opacity:0.8;
	font-family: Arial;
	font-size: 20px;
	line-height: 30px;
	padding:10px;
	color:black;
	max-width:600px;
	margin: 45px auto 0px auto;
}

.message_title {
	font-size: 30px;
	line-height: 45px;
}

#wufoo-q7x2w5{
	border-radius: 8px;
	max-width: 600px;
	background-color: #b8b8b8;
	opacity:0.8;
	font-family: Arial;
	font-size: 20px;
	line-height: 30px;
	margin: 45px auto 0px auto;
	padding:10px;
}