<div class="safe-room">
    <p class="saferoom_detail"><span class="secretroom">SECRET ROOM</span> is a space dedicated to the first 500 IntiMate subscribers. Welcome Home !</p>
    <!--<im-user-role-assignment/>-->
    <p class="saferoom_alert">COMING SOON : More details on First 500 Free Package !</p>
    
    <p class="saferoom_message red_tone"><span class="secretroom message_title">ROOM MASTERS Program</span><br/>Thank you for your interest in the Room MASTERS Program.<br/>We'll come back to you very soon.<br/><br/>In the meantime, feel free to ask us any question below:</p>

    <p class="saferoom_message green_tone"><span class="secretroom message_title">Good To Hear From You !</span><br/>Thank you for your interest.<br/>We'll keep you updated with fresh news very soon.<br/><br/>In the meantime, feel free to ask us any question below:</p>

    <p class="saferoom_message red_tone"><span class="secretroom message_title">You Were Expecting More ?</span><br/>Sorry, we wish we could have anticipated this.<br/>We are fully committed to IntiMate but ship happens...<br/><br/>Help us do better by telling us what we did wrong below:</p>


    <div id="wufoo-q7x2w5">
		Fill out my <a href="http://localequal.wufoo.com/forms/q7x2w5">online form</a>.
	</div>
	<script type="text/javascript">var q7x2w5;(function(d, t) {
		var s = d.createElement(t), options = {
		'userName':'localequal', 
		'formHash':'q7x2w5', 
		'autoResize':true,
		'height':'437',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { q7x2w5 = new WufooForm();q7x2w5.initialize(options);q7x2w5.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');
	</script>
</div>